// .thumb {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: var(--button-bcg-clr);

//   margin-bottom: 30px;
//   height: 120px;
//   width: 270px;
//   border-radius: 4px;
// }

// .advantage {
//   &-list {
//     display: flex;
//     justify-content: space-between;
//   }

//   &-section {
//     background-color: var(--second-txt-bcg-color);
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }

//   &-titles {
//     margin-top: 0;
//     margin-bottom: 10px;
//     padding: 0;

//     color: var(--title-text-color);
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-align: left;
//     text-transform: uppercase;

//     &-text {
//       margin: 0;
//       padding: 0;

//       font-size: 14px;
//       font-weight: 400;
//       line-height: 1.714;
//       letter-spacing: 0.03em;
//       text-align: left;
//     }
//   }

//   &-titles-list {
//     width: 270px;
//   }
// }
