.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-logo {
  display: inline;
  width: 134px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

.header-web-color {
  color: var(--accent-color);
}

.burger-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.site-nav {
  display: none;
}

.site-nav-contacts {
  display: none;
}

/* MOBILE MENU*/

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  max-width: 480px;
  width: 100%;
  height: 100vh;
  transition: var(--time) var(--animation-style);

  background-color: rgba(255, 255, 255, 1);

  padding-top: 48px;
  padding-right: 83px;
  padding-bottom: 48px;
  padding-left: 40px;

  &-items {
    display: block;
    height: 48px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }

  &-items:not(:last-child) {
    margin-bottom: 32px;
  }

  &-links {
    color: rgba(33, 33, 33, 1);
  }

  &-social-links {
    height: 22px;
    width: 72px;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
  }

  &-list {
    margin-bottom: 302px;
  }

  &-close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
}

.mobile-close-icon {
  fill: rgba(33, 33, 33, 1);
}

.contacts-items {
  &-tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;

    color: rgba(33, 150, 243, 1);
  }

  &-mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: rgba(117, 117, 117, 1);
  }
}

.telephone {
  margin-bottom: 32px;
}

.mail-adress {
  margin-bottom: 64px;
}

.mobile-menu {
  &-social {
    display: flex;
    align-items: center;

    &-list {
      height: 22px;
    }

    &-list:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &-list + &-list {
      margin-left: 10px;
    }

    &-links {
      color: rgba(33, 150, 243, 1);
    }
  }
}

.header {
  &-page {
    background-color: var(--second-txt-bcg-color);
  }

  &-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: var(--title-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
  }

  &-web-color {
    color: var(--accent-color);
  }

  &-nav {
    display: flex;
  }

  &-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

/* CURRENT LINE */

.hover-line {
  &::after {
    position: absolute;
    content: "";

    transform: translateY(27px);
    display: block;
    height: 4px;
    width: 48px;
    border-radius: 2px;
    left: 0;
    bottom: 0;

    background-color: var(--accent-color);

    animation-name: underline;
    animation-duration: var(--time);
    animation-timing-function: var(--animation-style);
    animation-fill-mode: forwards;
    transform-origin: bottom left;
  }

  &-portfolio:after {
    position: absolute;
    content: "";

    transform: translateY(27px);
    display: block;
    height: 4px;
    width: 78px;
    border-radius: 2px;
    left: 0;
    bottom: 0;

    background-color: var(--accent-color);

    animation-name: underline;
    animation-duration: var(--time);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: bottom left;
  }
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

/* CURRENT LINE */

/* main nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Site-nav*/

.site-nav {
  display: flex;
  align-items: center;

  & .link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.142px;
    letter-spacing: 0.02em;

    &-title {
      margin-right: 50px;
    }

    &-title .link {
      transition: color var(--time) var(--animation-style);
    }
  }

  &-contacts {
    display: flex;
    margin-left: auto;
  }

  & .link-title:last-child {
    margin-right: 0;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }

  & .link.current {
    color: var(--accent-color);
  }

  &-contacts a {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
    transition: color var(--time) var(--animation-style);
  }

  &-contacts .link + .link {
    margin-left: 50px;
  }

  & a:focus,
  & a:hover {
    color: var(--accent-color);
  }
}
