.hero {
  &-section {
    background-image: linear-gradient(
        to right,
        var(--linear-gradient-clr),
        var(--linear-gradient-clr)
      ),
      url(../images/Background_imgs/background_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--hero-footer-bcg-clr);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;

    &-title {
      margin-top: 0;
      margin-bottom: 30px;

      color: var(--second-txt-bcg-color);
      font-size: 44px;
      font-weight: 900;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &-div {
    margin-right: auto;
    margin-left: auto;
    width: 696px;
  }
}
