.developers {
  &-photo {
    display: block;

    &-list {
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.141), 0px 1px 3px rgba(0, 0, 0, 0.122);
      border-radius: 0px 0px 4px 4px;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-professions {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &-names {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.team {
  &-border {
    background-color: var(--second-txt-bcg-color);
    border-radius: 0px 0px 4px 4px;

    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
  }

  &-section {
    background-color: var(--button-bcg-clr);
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
