:root {
  /* main page */
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-txt-bcg-color: #ffffff;
  --hero-footer-bcg-clr: #2f303a;

  /* portfolio page */
  --button-bcg-clr: #f5f4fa;
  --button-active-bcg-clr: #2196f3;
  --bcg-clr: #ffffff;
  --border-clr: #e5e5e5;
  --team-border-clr: #eeeeee;
  --bcg-clr-links: #ffffff1a;
  --footer-contacts-clr: #ffffff99;
  --fill-clr: #afb1b8;
  --linear-gradient-clr: #2f303a66;
  --box-shadow-clr: #0000001f;
  --time: 250ms;
  --animation-style: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-color: rgba(33, 150, 243, 0.9);
}
